<div class="cr-autocomplete">

    <div class="input-group">
        <input type="text" ng-model="autocompleteModel.inputText" ng-init="setInputElement(this)" class="form-control" placeholder="{{autocompleteModel.placeholder || 'Enter a keyword...'}}" ng-readonly="isLoading">
        <span ng-show="isLoading" class="input-group-addon"><i class="fa fa-refresh rotate-animation"></i></span>
        <span ng-hide="isLoading" class="input-group-addon" ng-click="clear()"><i class="fa fa-remove"></i></span>
    </div>

    <div class="cr-autocomplete-result-wrapper" ng-show="willDisplayResult()">

        <div class="well-sm alert-warning" ng-show="hasEmptyResult()">
            <i class="fa fa-remove"></i>&nbsp;No results to display
        </div>

        <div class="cr-autocomplete-result-container" ng-show="hasSearchResult()">
            <p class="tooltip alert-info">Select an item from below.</p>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in autocompleteModel.data track by $index"
                    ng-mouseenter="selectActive(item,$index)"
                    ng-click="itemOnClick(item,$index)" data-index="$index" data-item="item" data-query="autocompleteModel.inputText">{{item.Title}}
                </li>
            </ul>
        </div>

    </div>

    <style>
        div.cr-autocomplete {
            position: relative;
            user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            -webkit-user-select: none;
        }

            div.cr-autocomplete div.cr-autocomplete-result-wrapper {
                position: absolute;
                top: 34px;
                left: 0;
                max-height: 300px;
                height: auto;
                z-index: 99;
                width: 100%;
                overflow: hidden;
                overflow-y: auto;
                background: #EAEAEA;
                padding: 0;
                border: 1px solid #ddd;
            }

                div.cr-autocomplete div.cr-autocomplete-result-wrapper ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                }

                    div.cr-autocomplete div.cr-autocomplete-result-wrapper ul li {
                        width: 100%;
                    }


                        div.cr-autocomplete div.cr-autocomplete-result-wrapper ul li:hover {
                            background-color: #ddd;
                            cursor: pointer;
                        }


                        div.cr-autocomplete div.cr-autocomplete-result-wrapper ul li.selected {
                            background-color: #d8d8d8;
                        }

        .rotate-animation {
            -webkit-animation: spin 1s linear infinite;
            -moz-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
        }

        @-moz-keyframes spin {
            100% {
                -moz-transform: rotate(360deg);
            }
        }

        @-webkit-keyframes spin {
            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
    </style>
</div>
