<div class="tab-content" id="menu-content" ng-controller="homeController" ng-init="init()">

    <div class="tab-pane introtab active" id="intro">
        <div class="jumbotron">
            <div class="container">
                <h3>Hi!</h3>
                <br />
                <p>
                    Cronom.Samples.AngularJS contains common usages of 
                    <br />
                    angular-js component wrappers, extensions and custom controls
                </p>
            </div>
        </div>
    </div>

</div>


<script src="~/Content/scripts/application/home/home-controller.js"></script>
