<div class="jumbotron">
    <div class="container">
        <h3>Hi!</h3>
        <p>
            Cronom.Samples.AngularJS contains common usages of 
                    <br />
            angular-js component wrappers, extensions and custom controls
        </p>
    </div>
</div>
