<div class="row" ng-controller="treelistdropController" ng-init="init()">

    <h2>TreeList Drop</h2>

    <div class="col-md-6">
        <cr-treelist ng-model="treeListModel" on-selection="itemSelected"></cr-treelist>
        <hr />

        <div class="alert alert-success">
            Default: <code>{{treeListModel.defaultItem.Title}} - {{treeListModel.defaultItem.$$hashKey}}</code><br />
            <pre>{{treeListModel.defaultItem|json}}</pre>

            <hr />

            Selection: <code>{{treeListModel.selectedItem.Title}} - {{treeListModel.selectedItem.$$hashKey}}</code><br />
            <pre>{{treeListModel.selectedItem|json}}</pre>

        </div>

    </div>

    <div class="col-md-6 alert alert-info">
        Data:<br />
        <pre>{{serializedOutput}}</pre>
    </div>

</div>

<!-- components to be used -->
<script src="~/Content/scripts/components/cr-treelist/cr-treelist.js"></script>

<!-- page controller -->
<script src="~/Content/scripts/application/treelistdrop/treelistdrop-page-controller.js"></script>


