<div class="row" ng-controller="formPageController" ng-init="init()">

    <h2>Form</h2>

    <div class="col-md-6">
        <cr-form ng-model="formModel"></cr-form>
    </div>

    <div class="col-md-6">
        <div class="alert alert-info">
            FormData:<br />
            <pre>{{formModel.viewData|json}}</pre>
        </div>
        <table class="table">
            <tr>
                <th>Name: {{formModel.name}}</th>
            </tr>
            <tr>
                <th>Action: {{actionResult}}</th>
            </tr>
            <tr>
                <td ng-class="{ success: formModel.form.$valid, danger: formModel.form.$invalid }">Valid</td>
            </tr>
            <tr>
                <td ng-class="{ success: formModel.form.$pristine, danger: !formModel.form.$pristine }">Pristine</td>
            </tr>
            <tr>
                <td ng-class="{ success: formModel.form.$dirty }">Dirty</td>
            </tr>
        </table>

        <table class="table">
            <tr>
                <th>field</th>
                <th>isExpressionValid</th>
                <th>isPristine</th>
                <th>isDirty</th>
                <th>isValid</th>
            </tr>
            <tr ng-repeat="field in formModel.fields" class=" text-center">
                <td class="text-left">{{field}}</td>
                <td ng-class="{ success: formModel.viewModel[field].isExpressionValid, danger: !formModel.viewModel[field].isExpressionValid }">{{formModel.viewModel[field].isExpressionValid}}</td>
                <td ng-class="{ success: formModel.viewModel[field].isPristine, danger: !formModel.viewModel[field].isPristine }">{{formModel.viewModel[field].isPristine}}</td>
                <td ng-class="{ success: formModel.viewModel[field].isDirty, danger: !formModel.viewModel[field].isDirty }">{{formModel.viewModel[field].isDirty}}</td>
                <td ng-class="{ success: formModel.viewModel[field].isValid, danger: !formModel.viewModel[field].isValid }">{{formModel.viewModel[field].isValid}}</td>
            </tr>
        </table>

    </div>
</div>

<!-- components to be used -->
<script src="~/Content/scripts/components/cr-form/cr-form.js"></script>

<!-- page controller -->
<script src="~/Content/scripts/application/form/form-page-controller.js"></script>

<!-- sample style -->
<style>
    .register-form {
        padding: 6px;
        border: 1px solid #ddd;
    }
</style>
