<div class="row" ng-controller="treelistdropController" ng-init="init()">

    <h2>TreeList Drop</h2>

    <div class="col-md-6">
        <cr-treelist ng-model="treeListModel" on-selection="itemSelected"></cr-treelist>
    </div>

    <div class="col-md-6">
        Selection: <code>{{treeListModel.selectedItem.Title}} - {{treeListModel.selectedItem.$$hashKey}}</code>
        <br />
        <pre>{{treeListModel.selectedItem|json}}</pre>
        <hr />
        Data:<br />
        <pre>{{serializedOutput}}</pre>
    </div>

</div>

<!-- components to be used -->
<script src="~/Content/scripts/components/cr-treelist/cr-treelist.js"></script>

<!-- page controller -->
<script src="~/Content/scripts/application/treelistdrop/treelistdrop-controller.js"></script>


